<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectStr" connectionString="data source=localhost\sqlexpress;initial catalog=Nine;MultipleActiveResultSets=True;user id=sa;password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DbFactory" value="Nine.DAL.DbHelper,Nine.DAL"/>
    <add key="DbConnect" value="data source=localhost\sqlexpress;initial catalog=Nine;user id=sa;password=123456"/>
  </appSettings>
</configuration>